.message {
  display: flex;
  margin: 1.5em 0;

  .headline {
    margin-top: 4px;
    margin-bottom: 1em;
  }

  .avatar {
    flex: none;
    margin-right: 15px;

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
  }

  .content {
    flex: 1;
    
    .name {
      font-size: 1.15em;
      font-weight: bold;
      margin-right: 20px;
    }

    .time {
      color: #D3D4D7;
    }
    
    .msg-text {
      margin-top: 0.5em;
      line-height: 1.5em;
      color: black;
    }
  }
}